@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.sidebar{
    padding-top: 3%;
    padding-left: 1.5%;
    font-size: 20px;
    background-color: rgba(229, 223, 223, 0.861);
    padding-right: 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Outfit", sans-serif;
}
.sidebar img{
    width: 30px;
    cursor: pointer;
    height: 30px;
}
.new-chat{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    border-radius: 300px;
    background-color: rgb(243, 243, 243);
    padding: 20px;
    cursor: pointer;
    margin-top: 50px;
    justify-content: center;
}
.new-chat img{
    width: 20px;
    cursor: pointer;
    height: 20px;
}
.recent-entry{
    margin-top: 3%;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    border-radius: 50px;
    padding: 5px 20px;
    cursor: pointer;
}
.recent-entry:hover{
    background-color: rgb(243, 243, 243);
}
